<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.univ_lille1.iut_info.pohlem.projetagiles4android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".connexion"
            android:label="@string/title_connexion">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu"
            android:label="@string/title_activity_menu" />
        <activity
            android:name=".inscription"
            android:label="@string/title_activity_inscription" />
        <activity
            android:name=".menu_admin"
            android:label="@string/title_activity_menu_admin" />
        <activity
            android:name=".monCompte"
            android:label="@string/title_activity_mon_compte" />
        <activity
            android:name=".Commande"
            android:label="@string/title_activity_commande" />
        <activity
            android:name=".mes_commandes"
            android:label="@string/title_activity_mes_commandes" />
        <activity
            android:name=".admin_clients"
            android:label="@string/title_activity_admin_clients" />
        <activity android:name=".admin_commandes" />
        <activity android:name=".admin_planning" />
        <activity android:name=".admin_services" />
        <activity android:name=".admin_points_retraits" />
        <activity android:name=".admin_tableau_bord" />
        <activity android:name=".voir_commande"></activity>
    </application>

</manifest>
